.active {
	color: red;
	border-bottom: 3px solid red;
}

ion-tabs {
	ion-tab-bar {
		padding: 0 15px;
		justify-content: flex-start;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			display: none;
		}

		&:host {
			align-items: left;
		}

		ion-tab-button {
			min-width: 30%;
			--padding-start: 0;
			--padding-end: 0;
		}

		ion-label {
			font-size: 10px;
		}

	}

}

.playlist-device {
	ion-tabs {
		ion-tab-bar {
			padding: 0 15px;
			justify-content: flex-start;
		}

	}

}
