ion-header {
	ion-title {
		font-size: 16px;
		font-weight: bold;
	}

}

ion-slides {
	margin-top: 55px;

	ion-row {
		border-bottom: 1px solid #ddd;
		padding: 15px 0px 15px 0px;

		.info {
			text-align: left;

			.title {
				font-weight: bold;
				font-size: 13px;
				margin-bottom: 6px;
				-webkit-box-orient: vertical;
				visibility: visible;
				display: -webkit-box;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 1;
				word-break: break-word;
			}

			.description {
				font-size: 12px;
				-webkit-box-orient: vertical;
				visibility: visible;
				display: -webkit-box;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 1;
				word-break: break-word;
			}

		}

	}

	ion-row:last-child {
		border-bottom: none;
	}

	.empty {
		display: flex;
		justify-content: center;
	}

}
