<ion-content padding class="animated fadeIn login auth-page">
	<div class="theme-bg"></div>
	<div class="auth-content">

		<!-- Logo -->
		<div padding-horizontal text-center class="animated fadeInDown">
			<div class="logo"></div>
			<h4 no-margin>
				<ion-text color="black" class="fw700">
					Đăng kí
				</ion-text>
			</h4>
		</div>

		<!-- Login form -->
		<form class="list-form">
			<ion-item no-padding class="animated fadeInUp">
				<ion-label position="floating">
					<ion-icon name="contact"></ion-icon>
					Tên
				</ion-label>
				<ion-input color="secondary" type="text"></ion-input>
			</ion-item>
			<ion-item no-padding class="animated fadeInUp">
				<ion-label position="floating">
					<ion-icon name="mail" item-start></ion-icon>
					Email
				</ion-label>
				<ion-input color="secondary" type="email"></ion-input>
			</ion-item>
			<!-- <p ion-text class="text08" >
				<ion-text color="warning">
					Required Field
				</ion-text>
			</p> -->

			<ion-item no-padding class="animated fadeInUp">
				<ion-label position="floating">
					<ion-icon name="lock" item-start></ion-icon>
					Mật khẩu
				</ion-label>
				<ion-input color="secondary" type="password"></ion-input>
			</ion-item>
			<!-- <p ion-text color="warning" class="text08">
				<ion-text color="warning">
					Required Field
				</ion-text>
			</p> -->
		</form>

		<div>
			<ion-button icon-left size="medium" expand="full" shape="round" color="dark">
				<ion-icon name="log-in"></ion-icon>
				Đăng kí
			</ion-button>

			<p text-center>
				<ion-text color="light">
					Đăng kí  qua: 
				</ion-text>
			</p>

			<ion-grid >
				<ion-row>
					<ion-col size="6">
						<ion-button shape="round" expand="full" color="secondary">
							<ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
						</ion-button>
					</ion-col>
					<ion-col size="6">
						<ion-button shape="round" expand="full" color="secondary">
							<ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>

		</div>

		<!-- Other links -->
		<div text-center margin-top>
			<span class="paz" tappable (click)="goToLogin()">
				<ion-text color="black">
					Đã có tài khoản? <strong>Đăng nhập</strong>
				</ion-text>
			</span>
		</div>

	</div>
</ion-content>