ion-slide {
  width: 100% !important;
  .image-slide {
    width: 100%;
    outline: none;
    height: 55.533vw;
  }
}
.row-product-wrapper {
  margin: 10px 0 10px 10px;

  .product-wrapper {
    margin-top: 5px;
    display: flex;
    overflow-x: auto;
    width: 100%;
    .row-product {
      margin-right: 10px;
      outline: none;

      .image-row-product {
        outline: none;
        width: 35.667vw;
        height: 19.733vw;
      }

      .title-row-product {
        font-size: 3.2vw;
        margin: 10px 0;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
        visibility: visible;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        word-break: break-word;
      }

      .description-row-product {
        font-size: 2.667vw;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
        visibility: visible;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        word-break: break-word;
      }
    }

    .row-product:last-child {
      .image-row-product {
        margin-right: 10px;
      }

      .title-row-product {
        margin-right: 10px;
      }

      .description-row-product {
        margin-right: 10px;
      }
    }
  }
}

.col-product-wrapper {
  margin: 10px;

  .col-product {
    display: flex;
    outline: none;

    .image-col-product {
      width: 30vw;
      height: 14.133vw;
      margin-right: 10px;
      outline: none;
    }

    .content {
      width: 75.667vw;

      .title-col-product {
        font-size: 3.2vw;
        margin-bottom: 6px;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
        visibility: visible;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        word-break: break-word;
      }

      .description-col-product {
        font-size: 2.667vw;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
        visibility: visible;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        word-break: break-word;
      }
    }
  }
}

.row-product-wrapper2 {
  margin: 10px 0 10px 10px;

  .product-wrapper-2 {
    margin-top: 5px;
    display: flex;
    overflow-x: auto;

    .row-product-2 {
      margin-right: 10px;
      outline: none;

      .image-row-product-2 {
        outline: none;
        width: 35.667vw;
        height: 19.733vw;
      }

      .title-row-product-2 {
        font-size: 3.2vw;
        margin: 10px 0;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
        visibility: visible;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        word-break: break-word;
      }

      .description-row-product-2 {
        font-size: 2.667vw;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
        visibility: visible;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        word-break: break-word;
      }
    }

    .row-product-2:last-child {
      .image-row-product-2 {
        margin-right: 10px;
      }

      .title-row-product-2 {
        margin-right: 10px;
      }

      .description-row-product-2 {
        margin-right: 10px;
      }
    }
  }
}

.line-area-col-product {
  border: 0.5px solid #f4f4f4;
  margin: 10px 0;
}

.line-area {
  border: 3px solid #f4f4f4;
}

.category {
  font-weight: bold;
  margin-top: 10px;
  font-size: 4.267vw;
  color: #3c0d2d;
}
 .header-button__search {
    position: absolute;
    right: 0;
  }

.icon-search {
  width: 50%;
}
.button-search {
  margin: 0;
}