ion-slides {
  .header-button__search {
    position: absolute;
    right: 0;

    .button-search {
      .icon-search {
        padding: 2px 7px;
        width: 100%;
      }

    }

  }

  ion-slide {
    width: 100% !important;

    .image-slide {
      width: 100%;
      outline: none;
      height: 190px;
    }

  }

}

.ranking {
  margin-top: 20px;

  ion-label {
    font-size: 12px;
  }

  .icon {
    margin-bottom: 5px;

    ion-img {
      height: 30px;
      width: 30px;
      margin-left: 25px;
    }

  }

  .text {
  }

  div {
    width: 150px;
    padding-bottom: 5px;
  }

}

.story-new {
  margin: 10px 0 10px 10px;

  .list-story-new {
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    width: 100%;

    .col-new {
      margin-right: 10px;
      width: 117px;

      .thumbnail-story {
        width: 117px;
        height: 65px;
      }

      .title {
        font-size: 11px;
        margin: 10px 0;
        -webkit-box-orient: vertical;
        visibility: visible;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        word-break: break-word;
      }

      .description {
        font-size: 10px;
        margin-bottom: 6px;
        margin-top: 6px;
        -webkit-box-orient: vertical;
        visibility: visible;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        word-break: break-word;
      }

    }

    .col-new:last-child {
      .thumbnail-story {
        margin-right: 10px;
      }

      .title {
        margin-right: 10px;
      }

      .description {
        margin-right: 10px;
      }

    }

  }

}

.story-recommend {
  margin-top: 10px;

  .tex {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .list-story {
    .title {
      font-size: 11px;
      margin-bottom: 6px;
      margin-top: 6px;
      -webkit-box-orient: vertical;
      visibility: visible;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      word-break: break-word;
    }

    .description {
      font-size: 10px;
      margin-bottom: 6px;
      margin-top: 6px;
      -webkit-box-orient: vertical;
      visibility: visible;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      word-break: break-word;
    }

  }

}

.story-popularity {
  margin: 10px 0 10px 10px;

  .list-story-popularity {
    margin-top: 10px;
    display: flex;
    overflow-x: auto;

    .col-popularity {
      margin-right: 10px;
      width: 117px;

      .thumbnail-story {
        width: 117px;
        height: 65px;
      }

      .title {
        font-size: 11px;
        margin-bottom: 6px;
        margin-top: 6px;
        -webkit-box-orient: vertical;
        visibility: visible;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        word-break: break-word;
      }

      .description {
        font-size: 10px;
        margin-bottom: 6px;
        margin-top: 6px;
        -webkit-box-orient: vertical;
        visibility: visible;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        word-break: break-word;
      }

    }

    .col-popularity:last-child {
      .thumbnail-story {
        margin-right: 10px;
      }

      .title {
        margin-right: 10px;
      }

      .description {
        margin-right: 10px;
      }

    }

  }

}

.user {
  margin-bottom: 10px;
  margin-left: 10px;

  .list-user {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;

    .col-user {
      margin-right: 10px;

      ion-avatar {
        width: 55px;
        height: 55px;
      }

    }

    .col-user:last-child {
      margin-right: 10px;
    }

  }

}

.see-all {
  text-align: center;
  margin-bottom: 20px;

  ion-button {
    border-radius: 20px;
  }

}

.line-area-col-product {
  border: 0.5px solid #f4f4f4;
  margin: 10px 0;
}

/*.line-area {
border: 1px solid #f4f4f4;
}*/
.category {
  font-weight: bold;
  margin-top: 10px;
  font-size: 15px;
  color: #3c0d2d;
}

.more {
  font-size: 11px;
  color: #3c0d2dd1;
  right: 0px;
}
