<ion-content  class="animated fadeIn login auth-page">
	<div class="theme-bg"></div>
	<div class="auth-content">

		<!-- Logo -->
		<div class="animated fadeInDown">
			<div class="logo"></div>
			<h4 class="title">
				<ion-text class="">
					ĐĂNG NHẬP
				</ion-text>
			</h4>
		</div>




		<!-- Login form -->
		<form class="list-form" [formGroup]="todo">
			<ion-card>
				<ion-item class="">
					<ion-label  position="floating">
						<ion-icon name="mail"></ion-icon>
						Email
					</ion-label>
					<ion-input color="secondary" type="email" formControlName="email" ></ion-input>
				</ion-item>


				<ion-item class="">
					<ion-label  position="floating">
						<ion-icon name="lock"></ion-icon>
						Password
					</ion-label>
					<ion-input color="secondary" type="password" formControlName="password"></ion-input>
				</ion-item>
			</ion-card>


			
			<!-- <p ion-text class="text08" >
				<ion-text color="warning">
					Required Field
				</ion-text>
			</p> -->

			<!-- <p ion-text color="warning" class="text08">
				<ion-text color="warning">
					Required Field
				</ion-text>
			</p> -->
		</form>

		<p class="paz">
			<ion-text>
				<strong>Quên mật khẩu?</strong>
			</ion-text>
		</p>

		<div class="bt_login">
			<ion-button size="medium" shape="round" color="secondary"  (click)="login()">
				<ion-icon name="log-in"></ion-icon>
				Đăng nhập
			</ion-button>

			<p class="login_social">
				<ion-text>
					Đăng nhập với: 
				</ion-text>
			</p>

			<ion-grid class="icon_social">
				<ion-row>
					<ion-img src="../../../../assets/images/login/face.svg"></ion-img>
					<ion-img src="../../../../assets/images/login/google.png"></ion-img>
				</ion-row>
			</ion-grid>

		</div>

		<!-- Other links -->
		<div class="other">
			<span  (click)="goToRegister()">
				<ion-text color="black">
					Tạo mới tài khoản? <strong>Đăng kí</strong>
				</ion-text>
			</span>
		</div>

	</div>
</ion-content>